:root{
    --warning: #ffa042;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,li,button{
    font-family: 'Noto Serif TC', serif;
}
h1,h2,h3,h4,h5,h6,p{
    color: #6C6C6C;
}
h2{
    font-weight: 600;
}
article p{
    font-size: 20px;
}
span{
    font-size: 20px;
}
nav{
    margin-top: 5px;
}
nav .nav-item{
    padding-right: 15px;
}
input[type=text]:focus{
    box-shadow:0 0 0 0.2rem rgb(255 193 7 / 50%);
    -moz-box-shadow:0 0 0 0.2rem rgb(255 193 7 / 50%);
    -webkit-box-shadow:0 0 0 0.2rem rgb(255 193 7 / 50%);
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.btn-outline-warning{
    color: #ffa042;
    background-color: white;
    border-color: #ffa042;
}
.btn-outline-warning:hover{
    color: white;
    background-color: #ffa042;
    border-color: #ffa042;
}
.form-control:focus{
    color: #ffa042;
}
.form-control{
    color: #ea7500;
}
.form-control::placeholder{
    color: #ffa042;
}
.form-control::-webkit-input-placeholder{
    color: #ffa042;
}
.form-control:-ms-input-placeholder{
    color: #ffa042;
}
.form-control::-moz-placeholder{
    color: #ffa042;
}
#intro{
    margin-bottom: 20px;
}
#intro li button{
    color: #d66e06;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    border: 0;
    background-color:#ffffff00;
}
#intro li button.active{
    font-weight: 900;
    color: #ad5700;
}
#intro li button:hover{
    color: #ad5700;
}
#intro li button:focus{
    outline: none;
}
#intro img{
    margin-bottom: 25px;
}
article{
    margin-top: 80px;
}
article div{
    float: left;
}
#footer{
    background-color: #6c6c6c60;
    padding-top: 20px;
    padding-bottom: 40px;
}