:root{
    --warning: #ffa042;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,li,button{
    font-family: 'Noto Serif TC', serif;
}
h1,h2,h3,h4,h5,h6,p{
    color: #6C6C6C;
}
.active{
    color: #d26900;
}
nav{
    margin-top: 5px;
}
nav li{
    padding-right: 15px;
}
.btn-outline-warning{
    color: #ffa042;
    background-color: white;
    border-color: #ffa042;
}
.btn-outline-warning:hover{
    color: white;
    background-color: #ffa042;
    border-color: #ffa042;
}
.form-control:focus {
    color: #ffa042;
}

.form-control{
    color: #ea7500;
}
.form-control::placeholder{
    color: #ffa042;
}
.form-control::-webkit-input-placeholder{
    color: #ffa042;
}
.form-control:-ms-input-placeholder{
    color: #ffa042;
}
.form-control::-moz-placeholder{
    color: #ffa042;
}
#intro li a{
    color: #ea7500;
    font-size: 28px;
}
#intro li a.active{
    font-weight: 900;
    color: #d26900;
}
#intro li a:hover {
    color: #d26900;
}
#intro img{
    margin-bottom: 25px;
}
article{
    margin-top: 80px;
}